/*
Theme Name: Ademi - GO 2014
Description: Site para a associação das empresas do mercado imobiliário de Goiás.
Author: Henrique Erzinger
Author URI: http://www.herzinger.com.br/
Version: 1.0
*/
/*------------------------------------*\
    $APP GENERAL SETTINGS
\*------------------------------------*/
/*------------------------------------*\
    $BASE COLORS
\*------------------------------------*/
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override holy-grail.css’ defaults here.
 */
/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of holygrail here.
 */
/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/
/* FRAMEWORK SETTINGS */
/*------------------------------------*\
    $FONT-SIZES
\*------------------------------------*/
/**
 * Font-sizes (in pixels). Refer to relevant sections for their implementations.
 */
/* FRAMEWORK TOOLS */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida, @rowanmanning and ultimately
 * @thierrylemoulec for refining and improving my initial mixin.
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/* Generates the specified grid system, with proportions based sintax.
*
*  Usage:
*  @include grid-generator([maximum number of columns], [grid namespace], [fixed size of the gutter]);
*
*  html:
   <div class="[grid-namespace]">
      <div class="[grid-namespace]-1-of-2">
        [content]
      </div><!--
      --><div class="[grid-namespace]-1-of-2">
        [content]
      </div>
  </div>
*
* The generatad classes follow the pattern '[grid-namespace]-x-of-y' for 'x/y' fractions
*/
/* FRAMEWORK GENERIC */
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u, ins {
  text-decoration: none; }

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* FRAMEWORK BASE */
/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 * Use an explicit font stack to ensure browsers render correct `line-height`.
 */
pre {
  overflow: auto; }

pre mark {
  background: none;
  border-bottom: 1px solid;
  color: inherit; }

/**
 * Add comments to your code examples, e.g.:
 *
   <code>&lt;/div&gt;<span class=code-comment>&lt;!-- /wrapper --&gt;</span></code>
 *
 */
.code-comment {
  /**
     * Override this setting in your theme stylesheet
     */
  opacity: 0.75;
  filter: alpha(opacity=75); }

/**
 * You can add line numbers to your code examples but be warned, it requires
 * some pretty funky looking markup, e.g.:
 *
   <ol class=line-numbers>
       <li><code>.nav{</code></li>
       <li><code>    list-style:none;</code></li>
       <li><code>    margin-left:0;</code></li>
       <li><code>}</code></li>
       <li><code>    .nav > li,</code></li>
       <li><code>        .nav > li > a{</code></li>
       <li><code>            display:inline-block;</code></li>
       <li><code>           *display:inline-block;</code></li>
       <li><code>            zoom:1;</code></li>
       <li><code>        }</code></li>
   </ol>
 *
 * 1. Make the list look like code.
 * 2. Give the list flush numbers with a leading zero.
 * 3. Make sure lines of code don’t wrap.
 * 4. Give the code form by forcing the `code` to honour white-space.
 */
.line-numbers {
  font-family: monospace, serif;
  /* [1] */
  list-style: decimal-leading-zero inside;
  /* [2] */
  white-space: nowrap;
  /* [3] */
  overflow: auto;
  /* [3] */
  margin-left: 0; }

.line-numbers code {
  white-space: pre;
  /* [4] */ }

/*------------------------------------*\
    $FORMS
\*------------------------------------*/
/**
 *
 * Demo: jsfiddle.net/inuitcss/MhHHU
 *
 */
fieldset {
  padding: 24px; }

/**
 * Text inputs
 *
 * Instead of a `[type]` selector for each kind of form input, we just use a
 * class to target any/every one, e.g.:
   <input type=text class=text-input>
   <input type=email class=text-input>
   <input type=password class=text-input>
 *
 */
/**
 * Group sets of form fields in a list, e.g.:
 *
   <ul class=form-fields>
       <li>
           <label />
           <input />
       </li>
       <li>
           <label />
           <select />
       </li>
       <li>
           <label />
           <input />
       </li>
   </ul>
 *
 */
.form-fields {
  list-style: none;
  margin: 0; }

.form-fields > li:last-child {
  margin-bottom: 0; }

/**
 * Labels
 *
 * Define a `.label` class as well as a `label` element. This means we can apply
 * label-like styling to meta-labels for groups of options where a `label`
 * element is not suitable, e.g.:
 *
   <li>
       <span class=label>Select an option below:</span>
       <ul class="multi-list  four-cols">
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
label, .label {
  display: block; }

/**
     * Extra help text in `label`s, e.g.:
     *
       <label>Card number <small class=additional>No spaces</small></label>
     *
     */
.additional {
  display: block;
  font-weight: normal; }

/*
 * Groups of checkboxes and radios, e.g.:
 *
   <li>
       <ul class=check-list>
           <li>
               <input /> <label />
           </li>
           <li>
               <input /> <label />
           </li>
       </ul>
   </li>
 *
 */
.check-list {
  list-style: none;
  margin: 0; }

/*
     * Labels in check-lists
     */
.check-label, .check-list label, .check-list .label {
  display: inline-block; }

/**
 * Spoken forms are for forms that read like spoken word, e.g.:
 *
   <li class=spoken-form>
       Hello, my <label for=spoken-name>name</label> is
       <input type=text class=text-input id=spoken-name>. My home
       <label for=country>country</label> is
       <select id=country>
           <option>UK</option>
           <option>US</option>
           <option>Other</option>
       </select>
   </li>
 *
 */
.spoken-form label {
  display: inline-block;
  font: inherit; }

/**
 * Extra help text displayed after a field when that field is in focus, e.g.:
 *
   <label for=email>Email:</label>
   <input type=email class=text-input id=email>
   <small class=extra-help>.edu emails only</small>
 *
 * We leave the help text in the document flow and merely set it to
 * `visibility:hidden;`. This means that it won’t interfere with anything once
 * it reappears.
 *
 */
/*small*/
.extra-help {
  display: inline-block;
  visibility: hidden; }

.text-input:active + .extra-help, .text-input:focus + .extra-help {
  visibility: visible; }

.button-primary, .button-primary:hover, .btn, .wppb-user-forms.wppb-user-forms button, .wppb-user-forms.wppb-user-forms input[type="button"], .wppb-user-forms.wppb-user-forms input[type="reset"], .wppb-user-forms.wppb-user-forms input[type="submit"], .btn:hover, .wppb-user-forms.wppb-user-forms button:hover, .wppb-user-forms.wppb-user-forms input[type="button"]:hover, .wppb-user-forms.wppb-user-forms input[type="reset"]:hover, .wppb-user-forms.wppb-user-forms input[type="submit"]:hover {
  width: 100%;
  border: none;
  background: #2e7d2e;
  font-family: 'Oswald', 'Bebas Neue', 'Helvetica Neue', 'arial' sans-serif;
  font-weight: 700;
  border-radius: 0;
  padding: 3px 20px;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

.wppb-user-forms.wppb-user-forms button, .wppb-user-forms.wppb-user-forms button:hover, .wppb-user-forms.wppb-user-forms input[type="button"], .wppb-user-forms.wppb-user-forms input[type="button"]:hover, .wppb-user-forms.wppb-user-forms input[type="reset"], .wppb-user-forms.wppb-user-forms input[type="reset"]:hover, .wppb-user-forms.wppb-user-forms input[type="submit"], .wppb-user-forms.wppb-user-forms input[type="submit"]:hover {
  box-shadow: none;
  text-shadow: none; }

/*------------------------------------*\
    $HEADINGS
\*------------------------------------*/
/**
 * As per: csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css
 *
 * When we define a heading we also define a corresponding class to go with it.
 * This allows us to apply, say, `class=alpha` to a `h3`; a double-stranded
 * heading hierarchy.
 */
h1, .alpha {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1; }

h2, .beta {
  font-size: 17px;
  font-size: 1.0625rem;
  line-height: 1.41176; }

h3, .gamma {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h4, .delta {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2; }

h5, .epsilon {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h6, .zeta {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

/**
 * Heading groups and generic any-heading class.
 * To target any heading of any level simply apply a class of `.hN`, e.g.:
 *
   <hgroup>
       <h1 class=hN>holy-grail.css</h1>
       <h2 class=hN>Best. Framework. Ever!</h2>
   </hgroup>
 *
 */
hgroup .hN {
  margin-bottom: 0; }

/**
 * A series of classes for setting massive type; for use in heroes, mastheads,
 * promos, etc.
 */
.giga {
  font-size: 96px;
  font-size: 6rem;
  line-height: 1; }

.mega {
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 1; }

.kilo {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1; }

/*------------------------------------*\
    #IMAGES
\*------------------------------------*/
/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
  max-width: 100%;
  /* [1] */
  font-style: italic;
  /* [2] */
  vertical-align: middle;
  /* [3] */ }

/**
 * 1. Google Maps breaks if `max-width: 100%` acts upon it; use their selector
 *    to remove the effects.
 * 2. If a `width` and/or `height` attribute have been explicitly defined, let’s
 *    not make the image fluid.
 */
.gm-style img, img[width], img[height] {
  /* [2] */
  max-width: none; }

/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li > ul, li > ol {
  margin-bottom: 0; }

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/
.numbered-list {
  list-style-type: decimal; }

/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 * 4. Prevent certain mobile browsers from automatically zooming fonts.
 * 5. Fonts on OSX will look more consistent with other systems that do not
 *    render text using sub-pixel anti-aliasing.
 */
html {
  background-color: #F5F5F5;
  color: #333;
  font-family: 'Oswald', 'Bebas Neue', 'Helvetica Neue', 'arial' sans-serif;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  min-height: 100vh;
  /* [3] */
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  /* [4] */
  -ms-text-size-adjust: 100%;
  /* [4] */
  -moz-osx-font-smoothing: grayscale;
  /* [5] */
  -webkit-font-smoothing: antialiased;
  /* [5] */ }

* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

/*------------------------------------*\
    $PARAGRAPHS
\*------------------------------------*/
/**
 * The `.lede` class is used to make the introductory text (usually a paragraph)
 * of a document slightly larger.
 */
.lede, .lead {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333; }

/* FRAMEWORK OBJECTS */
/*------------------------------------*\
    #BOX
\*------------------------------------*/
/**
 * The box object simply boxes off content.
 */
/**
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.box {
  display: block;
  /* [1] */
  padding: 24px; }
  .box > :last-child {
    margin-bottom: 0; }

/*------------------------------------*\
    #MEDIA
\*------------------------------------*/
/**
 * Place any image- and text-like content side-by-side, as per:
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
  display: block; }

.media__img {
  float: left;
  margin-right: 24px; }
  .media__img > img {
    display: block; }

.media__body {
  overflow: hidden;
  display: block; }
  .media__body, .media__body > :last-child {
    margin-bottom: 0; }

/*------------------------------------*\
    #LIST-INLINE
\*------------------------------------*/
/**
 * The list-inline object simply displays a list of items in one line.
 */
.list-inline {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-inline > li {
    display: inline-block; }

/* FRAMEWORK TRUMPS */
/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
 * Extend the clearfix class with Sass to avoid the `.clearfix` class appearing
 * over and over in your markup.
 */
.box:after, .media:after {
  content: "";
  display: table;
  clear: both; }

@media print {
  @page {
    margin: 0.5cm; }

  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr, img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; } }

/*------------------------------------*\
    $UI
\*------------------------------------*/
/* UI BASE */
::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }
::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

h1 {
  color: #002653;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 42px;
  font-weight: 700; }

h2 {
  text-transform: uppercase;
  color: #818286;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding-bottom: 18px; }

h3 {
  text-transform: uppercase;
  color: #333;
  padding-bottom: 18px;
  letter-spacing: 0.1em;
  margin-top: 42px; }

a {
  color: #002653; }

p, .wppb-user-forms.wppb-user-forms ul li, #wppb-login-wrap#wppb-login-wrap p {
  margin-bottom: 12px;
  font-weight: 400;
  font-family: 'Trebuchet', 'helvetica-neue', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.wppb-user-forms.wppb-user-forms ul li, #wppb-login-wrap#wppb-login-wrap p {
  padding-bottom: 0; }

.wppb-error {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429;
  padding-bottom: 20px; }

/* UI COMPONENTS */
html {
  font-family: 'Oswald', 'Bebas Neue', 'Helvetica Neue', 'arial' sans-serif; }

.alignleft {
  float: left;
  margin-right: 15px; }

.alignright {
  float: right;
  margin-left: 15px; }

.header {
  width: 100%;
  background: #fefefe;
  padding: 48px;
  box-shadow: 10px 0 10px rgba(51, 51, 51, 0.2); }

.grid {
  margin-left: -24px;
  list-style: none;
  margin-bottom: 0; }

.grid > .grid {
  margin-left: 0; }

.grid-1-of-2, .grid-2-of-4, .grid-3-of-6, .grid-4-of-8, .grid-5-of-10, .grid-6-of-12, .grid-1-of-3, .grid-2-of-6, .grid-3-of-9, .grid-4-of-12, .grid-2-of-3, .grid-4-of-6, .grid-6-of-9, .grid-8-of-12, .grid-1-of-4, .grid-2-of-8, .grid-3-of-12, .grid-3-of-4, .grid-6-of-8, .grid-9-of-12, .grid-1-of-5, .grid-2-of-10, .grid-2-of-5, .grid-4-of-10, .grid-3-of-5, .grid-6-of-10, .grid-4-of-5, .grid-8-of-10, .grid-1-of-6, .grid-2-of-12, .grid-5-of-6, .grid-10-of-12, .grid-1-of-7, .grid-2-of-7, .grid-3-of-7, .grid-4-of-7, .grid-5-of-7, .grid-6-of-7, .grid-1-of-8, .grid-3-of-8, .grid-5-of-8, .grid-7-of-8, .grid-1-of-9, .grid-2-of-9, .grid-4-of-9, .grid-5-of-9, .grid-7-of-9, .grid-8-of-9, .grid-1-of-10, .grid-3-of-10, .grid-7-of-10, .grid-9-of-10, .grid-1-of-11, .grid-2-of-11, .grid-3-of-11, .grid-4-of-11, .grid-5-of-11, .grid-6-of-11, .grid-7-of-11, .grid-8-of-11, .grid-9-of-11, .grid-10-of-11, .grid-1-of-12, .grid-5-of-12, .grid-7-of-12, .grid-11-of-12 {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
  vertical-align: top;
  box-sizing: border-box; }

.grid-1-of-2, .grid-2-of-4, .grid-3-of-6, .grid-4-of-8, .grid-5-of-10, .grid-6-of-12 {
  width: 50%; }

.grid-1-of-3, .grid-2-of-6, .grid-3-of-9, .grid-4-of-12 {
  width: 33.33333%; }

.grid-2-of-3, .grid-4-of-6, .grid-6-of-9, .grid-8-of-12 {
  width: 66.66667%; }

.grid-1-of-4, .grid-2-of-8, .grid-3-of-12 {
  width: 25%; }

.grid-3-of-4, .grid-6-of-8, .grid-9-of-12 {
  width: 75%; }

.grid-1-of-5, .grid-2-of-10 {
  width: 20%; }

.grid-2-of-5, .grid-4-of-10 {
  width: 40%; }

.grid-3-of-5, .grid-6-of-10 {
  width: 60%; }

.grid-4-of-5, .grid-8-of-10 {
  width: 80%; }

.grid-1-of-6, .grid-2-of-12 {
  width: 16.66667%; }

.grid-5-of-6, .grid-10-of-12 {
  width: 83.33333%; }

.grid-1-of-7 {
  width: 14.28571%; }

.grid-2-of-7 {
  width: 28.57143%; }

.grid-3-of-7 {
  width: 42.85714%; }

.grid-4-of-7 {
  width: 57.14286%; }

.grid-5-of-7 {
  width: 71.42857%; }

.grid-6-of-7 {
  width: 85.71429%; }

.grid-1-of-8 {
  width: 12.5%; }

.grid-3-of-8 {
  width: 37.5%; }

.grid-5-of-8 {
  width: 62.5%; }

.grid-7-of-8 {
  width: 87.5%; }

.grid-1-of-9 {
  width: 11.11111%; }

.grid-2-of-9 {
  width: 22.22222%; }

.grid-4-of-9 {
  width: 44.44444%; }

.grid-5-of-9 {
  width: 55.55556%; }

.grid-7-of-9 {
  width: 77.77778%; }

.grid-8-of-9 {
  width: 88.88889%; }

.grid-1-of-10 {
  width: 10%; }

.grid-3-of-10 {
  width: 30%; }

.grid-7-of-10 {
  width: 70%; }

.grid-9-of-10 {
  width: 90%; }

.grid-1-of-11 {
  width: 9.09091%; }

.grid-2-of-11 {
  width: 18.18182%; }

.grid-3-of-11 {
  width: 27.27273%; }

.grid-4-of-11 {
  width: 36.36364%; }

.grid-5-of-11 {
  width: 45.45455%; }

.grid-6-of-11 {
  width: 54.54545%; }

.grid-7-of-11 {
  width: 63.63636%; }

.grid-8-of-11 {
  width: 72.72727%; }

.grid-9-of-11 {
  width: 81.81818%; }

.grid-10-of-11 {
  width: 90.90909%; }

.grid-1-of-12 {
  width: 8.33333%; }

.grid-5-of-12 {
  width: 41.66667%; }

.grid-7-of-12 {
  width: 58.33333%; }

.grid-11-of-12 {
  width: 91.66667%; }

.container {
  max-width: 1008px;
  margin: 0 auto; }

/* Tabs Styles */
.tabs {
  list-style: none;
  margin: 0;
  text-transform: uppercase; }
  .tabs li {
    display: inline-block; }
  .tabs a {
    display: block;
    padding: 10px 20px 0 0;
    text-decoration: none;
    color: #818286;
    font-weight: 300;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.71429; }
    .tabs a.active {
      font-size: 17px;
      font-size: 1.0625rem;
      line-height: 1.41176;
      color: #333;
      font-weight: 400;
      letter-spacing: 0.1em; }

.tab {
  display: none; }
  .tab.active {
    display: block; }

.nav--main {
  padding-left: 40px; }

.menu-item {
  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block; }
  .menu-item a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #818286;
    text-decoration: none;
    text-transform: uppercase; }

.current-menu-item a {
  color: #333; }

.sidebar {
  padding-top: 32px; }
  .sidebar ul, .sidebar li {
    list-style: none; }
  .sidebar .widget {
    background: #fff;
    padding: 20px;
    border-left: 10px solid #818286;
    margin-bottom: 24px; }
    .sidebar .widget p:last-of-type {
      margin-bottom: 0 !important; }

.logged-in .login {
  display: none; }
