h1 {
  color: $blue;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-top: 42px;
  font-weight: $bold;
}

h2 {
  text-transform: uppercase;
  color: $gray;
  letter-spacing: .1em;
  font-weight: $normal;
  padding-bottom: 18px;
}

h3 {
  text-transform: uppercase;
  color: $black;
  padding-bottom: 18px;
  letter-spacing: .1em;
  margin-top: 42px;
}

a {
  color: $blue;
}

p,
.wppb-user-forms.wppb-user-forms ul li,
#wppb-login-wrap#wppb-login-wrap p {
  margin-bottom: 12px;
  font-weight: $normal;
  font-family: $body-font-family;
}

.wppb-user-forms.wppb-user-forms ul li,
#wppb-login-wrap#wppb-login-wrap p {
  padding-bottom: 0;
}

.wppb-error {
  @include font-size(14px);
  padding-bottom: 20px;
}
