@include grid-generator(12);

.main {

}

.sidebar {

}

.container {
  max-width: 1008px;
  margin: 0 auto;
}



/* Tabs Styles */
  .tabs {
    list-style: none;
    margin: 0;
    text-transform: uppercase;

    li { display: inline-block; }

    a {
      display: block;
      padding: 10px 20px 0 0;
      text-decoration: none;
      color: $grey;
      font-weight: $light;

      @include font-size(14px);

      &.active {
        @include font-size(17px);
        color: $black;
        font-weight: $normal;
        letter-spacing: .1em;
      }
    }
  }
  .tab {
    display: none;

    &.active { display: block; }
  }
