.nav--main {
  padding-left: 40px;
}


.menu-item {
  list-style: none;
  margin-right: 20px;
  margin-top: 20px;
  display: inline-block;

  a {
    @include font-size(16px);

    color: $gray;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.current-menu-item a {
  color: $black;
}
