.sidebar {
  padding-top: 32px;

  ul, li {
    list-style: none;
  }

  .widget {
    background: #fff;
    padding: 20px;
    border-left: 10px solid $gray;
    margin-bottom: 24px;

    p:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}

.logged-in .login { display: none; }
