/*------------------------------------*\
    $BASE COLORS
\*------------------------------------*/

$white: 			#fefefe;
$black: 			#333;
$grey:        #818286;
$gray:        $grey;
$blue:        #002653;
$green:       #2e7d2e;
