/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/



/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/
/**
 * Place any variables that should override holy-grail.css’ defaults here.
 */

$base-font-family:            'Oswald', 'Bebas Neue', 'Helvetica Neue', 'arial' sans-serif;
$body-font-family:            'Trebuchet', 'helvetica-neue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 	            16px;

// $base-line-height:         ;
// $base-text-color:          ;

$base-background-color:       #F5F5F5;


// FONT-SIZES

// $giga-size:         		   96px;
// $mega-size:         		   72px;
// $kilo-size:         		   48px;

$h1-size:           		   24px; // .alpha
$h2-size:           		   17px; // .beta
$h3-size:           		   16px; // .gamma
// $h4-size:           		   20px; // .delta
// $h5-size:           		   16px; // .epsilon
// $h6-size:           		   14px; // .zeta

// $milli-size:        		   12px;
// $micro-size:        		   10px;


/*------------------------------------*\
    $CUSTOM
\*------------------------------------*/
/**
 * Place any of your own variables that sit on top of holygrail here.
 */

// Font Weights
$normal: 400;
$light: 300;
$bold: 700;
