/*
Theme Name: Ademi - GO 2014
Description: Site para a associação das empresas do mercado imobiliário de Goiás.
Author: Henrique Erzinger
Author URI: http://www.herzinger.com.br/
Version: 1.0
*/

/*------------------------------------*\
    $APP GENERAL SETTINGS
\*------------------------------------*/

@import 'ui/_settings.colors.scss';
@import '_settings.vars.scss';


/*------------------------------------*\
    $FRAMEWORK
\*------------------------------------*/

@import 'framework/_tools.functions.scss';

/* FRAMEWORK SETTINGS */

@import 'framework/_settings.defaults.scss';
@import 'framework/_settings.responsive.scss';


/* FRAMEWORK TOOLS */

@import 'framework/_tools.mixins.scss';
@import 'framework/_tools.responsive.scss';
@import 'framework/_tools.grid-generator.scss';


/* FRAMEWORK GENERIC */

@import 'framework/_generic.normalize.scss';
@import 'framework/_generic.reset.scss';
@import 'framework/_generic.box-sizing.scss';


/* FRAMEWORK BASE */

@import 'framework/_base.code.scss';
@import 'framework/_base.forms.scss';


@import 'framework/_base.headings.scss';
@import 'framework/_base.images.scss';
@import 'framework/_base.lists.scss';
@import 'framework/_base.page.scss';
@import 'framework/_base.paragraphs.scss';


/* FRAMEWORK OBJECTS */

// $enable-box--flush:   true;
// $enable-box--tiny:    true;
// $enable-box--small:   true;
// $enable-box--large:   true;
// $enable-box--huge:    true;
@import 'framework/_object.box.scss';

// $enable-media--tiny:          true;
// $enable-media--small:         true;
// $enable-media--large:         true;
// $enable-media--huge:          true;
// $enable-media--rev:           true;
// $enable-media--flush:         true;
// $enable-media--responsive:    true;
// $media-collapse-at:           720px;
@import 'framework/_object.media.scss';

// $enable-list-inline--delimited:   true;
// $list-inline-delimit-character:   "|\00A0";
@import 'framework/_object.list-inline.scss';


/* FRAMEWORK TRUMPS */

@import 'framework/_trumps.clearfix.scss';
@import 'framework/_trumps.print.scss';



/*------------------------------------*\
    $UI
\*------------------------------------*/


/* UI BASE */

@import 'ui/_base.extras.scss';
@import 'ui/_base.typography.scss';


/* UI COMPONENTS */

@import 'ui/components.app.scss';
@import 'ui/components.footer.scss';
@import 'ui/components.header.scss';
// @import 'ui/components.icons.scss';
@import 'ui/components.main.scss';
@import 'ui/components.nav.scss';
@import 'ui/components.sidebar.scss';

